.datos-perfil-form {
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
}

.datos-perfil-form input,
.datos-perfil-form select,
.datos-perfil-form button {
    padding: 0.5rem;
    border: 1px solid var(--shadow-color);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.datos-perfil-form input:focus,
.datos-perfil-form select:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 5px var(--shadow-color);
}

.datos-perfil-form button {
    background-color: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
}

.datos-perfil-form button:hover {
    background-color: var(--secondary);
}
